$ui-prefix:'xui-';


$borderRadius: 4px;

/* === Color === */
$red: #F1453D;
$grey:#eee;
$blue:#4a90e2;

$borderColor: #999;
$borderColor-light: lighten($borderColor,30%);
$borderColor-hover: #666;

$box-shadow-color: rgba(0, 0, 0, 0.5);

$color: #333;
$color-light:#666;
$color-disabled:#bbb;




/* === 字体

chrome(pc)最小支持的font-size为12px
这里选择使用font:14px/1.4286作为基底,line-height计算为20px，很方便

=== */
$fontSize-min:12px;
$fontSize: 14px;
$lineHeight: 1.4286;





/* === Grid网格系统 === */

//网格总列数
$gridColumns: 24 !default;

//触发响应式变化的断点
$bpList: (
  phone-:0px,
  pad-: 576px,
  narrowPc-: 768px,
  pc-: 992px,
  widePc-: 1200px
) !default;




/* === Input Shape 默认值 === */
$input-borderColor:$borderColor-light;
$input-color:$color-light;
$input-borderRadius:$borderRadius;
$input-borderColor-hover:$blue;
$input-color-disabled:$color-disabled;
$input-borderColor-error:$red;
$input-shadowColor:$blue;
$input-shadowColor-error:$red;

$input-differentSizeMap:(
  default:(fontSize:12px,lineHeight:22px,paddingV:4px)
  ,small:(fontSize:12px,lineHeight:20px,paddingV:1px)
  ,large:(fontSize:14px,lineHeight:22px,paddingV:6px)
);




/* === Button

以下Button 和 ButtonGroup 都会用到

=== */
$button-borderWidth:1px;
$button-borderRadius:$borderRadius;
$button-color-hover:$blue;
